@{
    ViewData["Title"] = "Termo de Uso";
}
<h1>@ViewData["Title"]</h1>

<p>Termos de Uso Termo de Uso Termo de Uso Termo de Uso Termo de Uso.</p>
<p>Termos de Uso Termo de Uso Termo de Uso Termo de Uso Termo de Uso.</p>
<p>Termos de Uso Termo de Uso Termo de Uso Termo de Uso Termo de Uso.</p>
